@import url(../libs/bootstrap/bootstrap-grid.min.css);
@import url(../libs/fontawesome/css/all.min.css);
@import url(../fonts/MuseoSans/stylesheet.css);
@import url(../libs/OwlCarousel2-2.3.4/css/owl.carousel.min.css);
@import url(../libs/OwlCarousel2-2.3.4/css/owl.theme.default.min.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 500;
}


.main {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

@import "../scss/variables";
@import "../scss/form";
@import "../scss/header";
@import "../scss/home";
@import "../scss/advantages";
@import "../scss/consultation";
@import "../scss/slider";
@import "../scss/catalog";
@import "../scss/feed";
@import "../scss/footer";
@import "../scss/overlays";

@media (min-width:1200px) {
    .container {
        max-width: 941px;
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width:960px) {
    .container {
        max-width: 941px;
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width:576px) and (max-width:768px) {}

@media (max-width:576px) {
    .container {
        max-width: 576px;
        width: 100%;
        margin: 0 auto;
    }

    .header {
        &__official {
            display: none;
        }

        &__contacts {
            display: none;
        }

        &__logo {
            margin: 0 auto;
        }
    }

    .home {
        padding-bottom: 120px;

        &__wrapper {
            align-items: center;
            text-align: center;
        }

        &__title {
            margin-bottom: 40px;
        }

        .row {
            justify-content: space-between;
        }
    }

    .advantages {
        &__title {
            font-size: 28px;
        }

    }

    .consultation {
        padding: 85px 0 65px;

        &__title {
            font-size: 28px;
            margin-bottom: 60px;
        }

        &__descr {
            margin-bottom: 50px;
        }
    }

    .slider {
        margin-bottom: 100px;

        .owl-carousel {
            .owl-nav {
                .owl-prev {
                    top: 100%;
                    left: 50%;
                    transform: translate(-50px, 20px);
                }

                .owl-next {
                    top: 100%;
                    right: 50%;
                    transform: translate(50px, 20px);
                }
            }
        }
    }

    .catalog {
        &__title {
            font-size: 28px;
            margin-bottom: 40px;
        }

        &__caption {
            flex-direction: column;
            align-items: center;
        }
        &__tab {
            width: 250px;
            margin: 20px 0 0;
        }
        .col {
            display: flex;
            justify-content: center;
        }
    }

    .feed {
        .title {
            font-size: 28px;
        }
        .row {
            flex-flow: column wrap;
            margin-top: 50px;
        }
        &__img {
            display: block;
            margin: 0 auto 20px;
        }
        &__text {
            width: 100%;
            text-align: center;
            padding-right: 0;
        }
    }
}