.form {
    max-width: 301px;
    display: flex;
    flex-flow: column wrap;
}

.label {
    width: 100%;
}

.input {
    display: block;
    width: 301px;
    height: 51px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 20px;
    margin-bottom: 14px;

    &:invalid {
        &:not(:placeholder-shown) {
            border: 1px solid red;
        }
    }
}

.validation {
    color: #ffffff;
}

.btn {
    @include btn(301px, 51px, 14px)
}