.home {
    background: url(../images/mainBg.webp) center top/cover no-repeat;
    padding: 155px 0 80px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: #ffffff;
    }

    &__title {
        font-size: 42px;
        margin-bottom: 17px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 53px;
    }

    &__subtitle {
        font-size: 24px;
        margin-bottom: 67px;
        text-transform: uppercase;
        line-height: 35px;
    }

    .row {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        .col {
            .wrapper {
                text-align: center;

                &__icon {
                    margin-bottom: 10px;
                }
            }
        }
    }

    &__btn {
        @include btn(301px, 51px, 16px);
        margin: 66px 0 18px;
    }

    &__link {
        font-size: 16px;

        a {
            text-transform: uppercase;
            color: #fff;
        }
    }
}